html {
	padding-top:0;
	-webkit-overflow-scrolling: auto;
}
body {
	background: #000;
	color: #fff;
	font-size: 16px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	margin: 0;
	display: flex;
	flex-direction: column;
}
h2 {
	display: none;
}

/* App-specific customization of navbar (base navbar style lives in web component) */
lucos-navbar {
	border-bottom: solid #502;
}
#controls {
	text-align: center;
	clear: both;
	padding: 0.5em;
	background:#502;
	color: #fff;
	height: 1.8em;
	display: block;
	overflow: hidden;
	margin: 0;
	flex-shrink: 0;
}
#controls li {
	background: transparent;
	border: none;
	margin: 0;
	padding: 0;
}
#controls form, #controls .control-group {
	display: inline;
}
#controls input {
	background: white;
	color: black;
	line-height: 1.5em;
}
#controls .control-group {
	display: inline-block;
}
#controls .control-group.hide {
	display: none;
}
#controls .control-group input.show-more {
	border-left: groove;
}
#controls .control-group .primary-control {
	border-right: none;
}
#controls .loading input {
	animation: 1.5s linear infinite backgroundScroll;
	background: linear-gradient(-55deg, #555 0%, #555 20%, #888 40%, #7e8888 55%, #555 80%);
	background-size: 200%;
}
#controls .control-group .extra-controls {
	position: absolute;
	margin-top: 25px;
}
#controls .control-group:not([data-expanded=true]) .extra-controls {
	display: none;
}
@keyframes backgroundScroll {
	0% { background-position:  100%; }
	100% { background-position: -100%; }
}


@media (min-width: 20cm) {
	#controls li {
		display: inline;
	}
}
@media (max-width: 20cm) {
	#controls #playpause {
		display: none;
	}
	#controls {
		display:block;
		height: auto;
		list-style-type: none;
		padding: 0;
	}
	#controls :not(.control-group):not(.extra-controls) > input, #controls .control-group {
		width: 90%;
		margin: 0.5em 5%;
	}
	#controls .control-group {
		display: flex;
	}
	#controls .control-group .show-more {
		flex-grow: 0.1;
		padding-right: 40px;
	}
	#controls .control-group .primary-control {
		flex: 1;
	}
}