services:
  seinn:
    build: .
    container_name: seinn
    ports: 
      - $PORT:$PORT
    environment:
      - MEDIA_MANAGER_URL=https://ceol.l42.eu/
      - KEY_LUCOS_MEDIA_MANAGER
      - KEY_LUCOS_PRIVATE
      - ENVIRONMENT
      - PORT
    image: lucas42/lucos_media_seinn
    restart: always
