[Service]
ExecStart=/usr/bin/npm start
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=lucos_seinn
User=lucos
Group=lucos
Environment=NODE_ENV=production
Environment=PORT=3001
WorkingDirectory=/web/lucos/lucos_seinn/

[Install]
WantedBy=multi-user.target
