<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
	<head> 
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<title>LucOs Media Player</title>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width" />
	<link href="/v3.css" rel="stylesheet">
	<link rel="icon" type="image/jpg" href="/logo.jpg" />
	<script type="text/javascript">
		const clientVariables = {{{clientVariables}}};
	</script>
</head> 
<body>
	<lucos-navbar>Media Player</lucos-navbar>
	<h2>Current Track</h2>
	<div id="now">
		<div class="info">
			<div id="now_title">{{now.title}}</div>
			<div id="now_artist">{{now.artist}}</div>
			<img id="now_thumb" src="{{now.thumb}}" alt="" />
		</div>
	</div>
	<h2>Controls</h2>
	<ul id='controls'>
		{{#isPlaying}}
		<li>
			<form method="post" action="/v3/pause" id='playpause'>
				<input type='hidden'/>
				<input type='submit' value="Pause" id='playpause-submit'/>
			</form>
		</li>
		{{/isPlaying}}
		{{^isPlaying}}
		<li>
			<form method="post" action="/v3/play" id='playpause'>
				<input type='hidden'/>
				<input type='submit' value="Play" id='playpause-submit'/>
			</form>
		</li>
		{{/isPlaying}}
		<li>
			<form method="post" action="/v3/next" id='next'>
				<input type='hidden'/>
				<input type='submit' value="Skip to the Next Track" id='next-submit'/>
			</form>
		</li>
		<li>
			<volume-control>
				<form method="post" action="/v3/volume?volume={{volumeUp}}" id='volume-up'>
					<input type='hidden'/>
					<input type='submit' value="Increase Volume" id='volume-up-submit'/>
				</form>
				/
				<form method="post" action="/v3/volume?volume={{volumeDown}}" id='volume-down'>
					<input type='hidden'/>
					<input type='submit' value="Decrease Volume" id='volume-down-submit'/>
				</form>
			</volume-control>
		</li>
		<li>
			<form method="get" action="{{now.editurl}}" id='edit' target='_blank'>
				<input type='submit' value="Edit Track Metadata" id='edit-submit'/>
			</form>
		</li>
		<li>
			<form method="get" action="/v3" id='refresh'>
				<input type='hidden'/>
				<input type='submit' value="Refresh" id='refresh-submit'/>
			</form>
		</li>
	</ul>

	<script type="text/javascript" src="//www.gstatic.com/cv/js/sender/v1/cast_sender.js?loadCastFramework=1"></script>
	<script type="text/javascript"
	src="//www.gstatic.com/cast/sdk/libs/caf_receiver/v3/cast_receiver_framework.js"></script>
	<script type="text/javascript" src="/v3.js"></script>
</body>
</html>