body { background-color: rgba(100,100,255,0.8); margin: 0; padding: 0; height: 100%; }
footer { position: fixed; bottom: 0; width: 100%; background-color: rgba(100,100,255,0.8); height: 2em; }
#cover { position: absolute; height: 100%; width: 100%; background-size: cover; background-position: center; }
#next { 
	position: fixed;
	bottom: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 0.5em;
	font-family: Georgia, serif;
}
#next[data-buffered='false'] {
	color: #555;
}
#nowtitle, #nowartist {
	display: block;
    font-weight: bold;
    text-shadow: white 0 0 10px;
    margin: 0 10px;
	font-family: Papyrus, Georgia, serif;
}
#nowtitle {
    font-size: 2em;
    margin-top: 10px;
}
#nowartist {
	font-style: italic;
}
#playlist {
	display: none;
	position: fixed;
	top: 1em;
	left: 1em;
	right: 1em;
	bottom: 3em;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 2em;
	border-style: solid;
	overflow: scroll;
	overflow-scrolling: touch;
}
#playlist[data-visible='true'] {
	display: block;
}
#playlistloading, #playlisterror {
	text-align: center;
	margin-top: 1em;
	font-size: 2em;
	font-style: italic;
}
#playlisterror {
	color: red;
}
#playlisticon {
	padding: 0 0.3em;
	font-size: 1.5em;
	position: fixed;
	right: 0;
	z-index: 10;
	cursor: pointer;
}
google-cast-launcher {
	position: fixed;
	right: 2.3em;
	bottom: 0.25em;
	height: 1.75em;
	width: 2em;
	--disconnected-color: indigo;
	--connected-color: lime;
	cursor: pointer;
}
.state {
	text-align: center;
	color: white; 
	font-family: Geneva, Arial, sans-serif;
	text-transform: capitalize;
	margin: 0 1em;
	background-color: grey;
}
#status { 
	padding: 0.5em 0.5em 1em;
}
#playlist .state {
	width: 90px;
	display: inline-block;
	font-size: 0.7em;
	color: white;
	text-transform: capitalize;
}
#playlist .remove {
	cursor: pointer;
	color: red;
	margin: 0 1em;
}
#playlist li.skipped {
	text-decoration: line-through;
}
.state[data-state$='ing'] {
	background-color: chocolate;
}
.state[data-state='unloaded'] {
	background-color: grey;
}
.state[data-state='disabled'] {
	background-color: #555;
}
.state[data-state='failed'] {
	background-color: darkred;
}
.state[data-state='paused'], .state[data-state='ready'] {
	background-color: indigo;
}
.state[data-state='playing'] {
	background-color: green;
}
.state[data-state='downloaded'] {
	background-color: dodgerblue;
}
.state[data-state='disk quota full'] {
	background-color: deeppink;
}
.state[data-state='casting'] {
	background-color: darkmagenta;
}