html {
	padding-top:0!important;
	-webkit-overflow-scrolling: auto;
}
body {
	background: #000;
	color: #fff;
	font-size: 16px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	margin: 0;
	display: flex;
	flex-direction: column;
}
h2 {
	display: none;
}
.links li a:hover {
	text-decoration: underline;
}
#controls {
	text-align: center;
	clear: both;
	padding-top: 0.5em;
	background:#502;
	color: #fff;
	height: 1.8em;
	display: block;
	overflow: hidden;
	margin: 0;
	flex-shrink: 0;
}
#controls google-cast-launcher {
	display: inline-block;
	vertical-align: middle;
	width: 25px;
	height: 25px;
	margin-left: 10px;
}

/* App-specific customization of navbar (base navbar style lives in web component) */
lucos-navbar {
	border-bottom: solid #502;
}

#controls li {
	background: transparent;
	border: none;
	margin: 0;
	padding: 0;
}
#controls form {
	display: inline;
}
#controls input {
	background: white;
	color: black;
}

.next .title {
	background:#502;
	color: white;
	text-align: center;
	display: block;
	padding: 1em;
	font-weight: bold;
	cursor: pointer;
	padding-right: 60px;
}
a {
	color: #502;
	font-weight: bold;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.status {
	position: absolute;
	bottom: 20px;
	text-align: center;
	font-weight: bold;
	right: 60px;
	left: 60px;
}
#controls {
	display: block;
}

@media (min-width: 20cm) {
	/*#now_thumb {
	-webkit-box-reflect: below 0 -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.5)), color-stop(0.7, transparent));
	}*/
	#now_thumb {
		-webkit-box-reflect: below url(https://ceol.l42.eu/thumb.png);
	}
	.next .title {
		display: none
	}
	.status {
		display: none;
	}
	#controls li {
		display: inline;
	}
}
@media (max-width: 20cm) {
	#controls {
		display: none;
	}
	#controls {
		display:block;
		height: auto;
		list-style-type: none;
		padding: 0;
	}
	#controls input {
		width: 90%;
		margin: 0.5em 5%;
	}
}
@media (max-width: 20cm) and (min-width: 399px) {
	#now > .info {
		float: right;
		width: 240px;
		margin-right: 60px;
	}
	#now {
		padding: 1em 0 0 0;
	}
}