<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Access Denied – LucOs Media Player</title>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width" />
		<link href="/v3.css" rel="stylesheet" crossorigin="use-credentials">
		<link rel="icon" type="image/jpg" href="/logo.jpg" crossorigin="use-credentials" />
	</head>
	<body>
		<lucos-navbar aithne-origin="{{aithne_origin}}">Media Player</lucos-navbar>
		<h2>Access Denied</h2>
		<p>{{message}}</p>
		<script type="text/javascript" src="/v3.js"></script>
	</body>
</html>
