<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
	<head> 
	<title>LucOs Media Player</title>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width" />
	<link href="/v3.css" rel="stylesheet">
	<link rel="icon" type="image/jpg" href="/logo.jpg" />
	<link rel="manifest" href="/manifest.json" />
	<script type="text/javascript">
		const clientVariables = {{{clientVariables}}};
	</script>
</head> 
<body>
	<lucos-navbar>Media Player</lucos-navbar>
	<h2>Current Track</h2>
	<now-playing>
		<div id="now_title">{{now.metadata.title}}</div>
		<div id="now_artist">{{now.metadata.artist}}</div>
		<img id="now_thumb" src="{{now.metadata.thumb}}" alt="" />
	</now-playing>
	<h2>Controls</h2>
	<ul id='controls'>
		<li>
			<form
				method="post"
				action="/v3/{{#isPlaying}}pause{{/isPlaying}}{{^isPlaying}}play{{/isPlaying}}"
				id='playpause'
				is="playpause-form">
				<input type='hidden'/>
				<input
					type='submit'
					value="{{#isPlaying}}Pause{{/isPlaying}}{{^isPlaying}}Play{{/isPlaying}}"/>
			</form>
		</li>
		<li>
			<form method="post" action="/v3/next" id='next' is="next-form">
				<input type='hidden'/>
				<input type='submit' value="Skip to the Next Track" id='next-submit'/>
			</form>
		</li>
		<li>
			<volume-control>
				<form method="post" action="/v3/volume?volume={{volumeUp}}" id='volume-up'>
					<input type='hidden'/>
					<input type='submit' value="Increase Volume" id='volume-up-submit'/>
				</form>
				/
				<form method="post" action="/v3/volume?volume={{volumeDown}}" id='volume-down'>
					<input type='hidden'/>
					<input type='submit' value="Decrease Volume" id='volume-down-submit'/>
				</form>
			</volume-control>
		</li>
		<li>
			<form method="get" action="{{now.metadata.editurl}}" id='edit' target='_blank' is="edit-form">
				<input type='submit' value="Edit Track Metadata" id='edit-submit'/>
			</form>
		</li>
		<li>
			<form method="get" action="/v3" id='refresh' is="refresh-form">
				<input type='hidden'/>
				<input type='submit' value="Refresh" id='refresh-submit'/>
			</form>
		</li>
	</ul>
	<h2>Playlist</h2>
	<track-playlist>
		<ol start="2">
		{{#playlist}}
			<li><span>{{metadata.title}}</span></li>
		{{/playlist}}
		</ol>
	</track-playlist>
	<script type="text/javascript" src="/v3.js"></script>
</body>
</html>