html {
	padding-top:0;
	-webkit-overflow-scrolling: auto;
}
body {
	background: #000;
	color: #fff;
	font-size: 16px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	margin: 0;
	display: flex;
	flex-direction: column;
}
h2 {
	display: none;
}

/* App-specific customization of navbar (base navbar style lives in web component) */
lucos-navbar {
	border-bottom: solid #502;
}
#controls {
	text-align: center;
	clear: both;
	padding-top: 0.5em;
	background:#502;
	color: #fff;
	height: 1.8em;
	display: block;
	overflow: hidden;
	margin: 0;
	flex-shrink: 0;
}
#controls google-cast-launcher {
	display: inline-block;
	vertical-align: middle;
	width: 25px;
	height: 25px;
	margin-left: 10px;
}

#controls li {
	background: transparent;
	border: none;
	margin: 0;
	padding: 0;
}
#controls form {
	display: inline;
}
#controls input {
	background: white;
	color: black;
}


@media (min-width: 20cm) {
	#controls li {
		display: inline;
	}
}
@media (max-width: 20cm) {
	#controls #playpause {
		display: none;
	}
	#controls {
		display:block;
		height: auto;
		list-style-type: none;
		padding: 0;
	}
	#controls input {
		width: 90%;
		margin: 0.5em 5%;
	}
}